<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gateflow.victor.infra.mapper.UserRoleMapper">

    <select id="selectByUserId" resultType="com.gateflow.victor.domain.entity.UserRole">
        SELECT *
        FROM rbac_user_role
        WHERE user_id = #{userId}
    </select>

</mapper>